# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Source Control Git\goldfish_interactive_open_cart_return_email_alert\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
